# Backend
backend/target/
backend/.mvn/
backend/*.iml
backend/.idea/

# Frontend
frontend/raileasy-ui/node_modules/
frontend/raileasy-ui/dist/
frontend/raileasy-ui/.angular/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
