target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### H2 local DB files ###
data/
*.mv.db
*.trace.db

### IDE ###
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

### Logs ###
*.log
